* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  padding: 0.29vw 0.68vw !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bit-people-cars-container {
  margin-top: 2.4vw;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.modal-dialog {
  max-width: 80vw;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);
}


.form-check-label:hover {
  cursor: pointer;
}

.form-check-label {
  width: 100%;
  text-align: start;
}




/*----- FILTERI ----- */

.search-bar {
  width: 30vw;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
  border: none;
  border-bottom: 2px solid rgb(141, 23, 23);
  -webkit-box-shadow: 0px 0.3vw 1vw 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 0.3vw 1vw 0px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 0.3vw 1vw 0px rgba(50, 50, 50, 0.6);
  outline: none;
  padding: 0.4vw;
  transition: transform 1s;
  font-size: 1vw;
}

.search-bar:focus {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
}

.firm-filters-container {
  padding: 1vw;
  position: absolute;
  margin-top: 1.5vw;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.firme-burger-menu {
  transition: transform 1s;
}

.firme-burger-menu:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.enter-filters {
  animation: enterFilters 1s forwards;
}

.exit-filters {
  animation: exitFilters 1s forwards;
}

@keyframes enterFilters {
  0% {
    transform: scale(0);
    height: 0%;
    width: 0;
    opacity: 0;
  }

  50% {
    height: 0%;
  }

  100% {
    transform: scale(1);
    width: 32vw;
    opacity: 1;
  }
}

@keyframes exitFilters {
  0% {
    transform: scale(1);
    width: 32vw;
    opacity: 1;
  }

  50% {
    height: 0%;
  }

  100% {
    transform: scale(0);
    width: 0;
    opacity: 0;
    height: 0%;
  }
}



/*studenti filters*/

.student-search-bar {
  width: 32vw;
}

.studenti-filters-container {
  padding: 1vw;
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.accordion-button {
  width: 100%;
  color: rgb(141, 23, 23);
  font-weight: 700
}

.accordion-button:hover {
  cursor: pointer;
  color: rgb(141, 23, 23);
}


.form-check {
  padding: 0.4vw 1vw 0.4vw 1.5vw;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
  transition: transform 1s;
}


input:checked {
  transform: scale(2)
}


/* ----- BITMAN CARD ----- */

.bit-man-card,
.student-details-button,
.bit-man-card-student-list-view-borders {
  transition: transform 1s;
  -webkit-box-shadow: 0px 0px 1vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1vw 2px rgba(0, 0, 0, 0.2);
}

.student-details-button {
  font-weight: 600;
}

.working-card {}

.internship-card {}

.bit-man-card:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 1vw 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 1vw 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 1vw 0px rgba(255, 255, 255, 1);
  z-index: 1;
}

.bit-man-card-student-list-view-borders:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 1vw 0px rgba(141, 23, 23, 1);
  -moz-box-shadow: 0px 0px 1vw 0px rgba(141, 23, 23, 1);
  box-shadow: 0px 0px 1vw 0px rgba(141, 23, 23, 1);
  z-index: 1;
}

.bitman-card-header-title {
  font-size: 1.15vw;
}

.bit-man-card-for-hover:hover {
  cursor: pointer;
}

.bit-man-card:hover .student-details-button,
.bit-man-card-student-list-view-borders:hover .student-details-button {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 1vw 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 1vw 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 1vw 0px rgba(255, 255, 255, 1);
}


.bit-man-card .card-header,
.bit-man-card-student-list-view-borders .card-header {
  text-align: center;
  font-size: 1vw;
  padding: 0;
  height: 8vw;
}

.bit-man-card-student-list-view {
  height: 5.5vw !important;
}

.bit-man-card-student-list-view-borders {
  border: 6px double #8D1717;
}

.bit-man-card .card-title,
.bit-man-card-student-list-view-borders .card-title {
  font-size: 1.2vw;
  margin-bottom: 1vw !important;
}

.bit-man-card .card-text,
.bit-man-card-student-list-view-borders .card-text {
  font-size: 1vw;
  margin-bottom: 1vw !important;
}

.col-2 {
  padding-left: 0.8vw !important;
  padding-right: 0.8vw !important;
}

.bit-man-card .card-body,
.bit-man-card-student-list-view-borders .card-body {
  padding: 1.5vw 0.5vw 0.5vw 0.5vw;
  ;
}

.bit-man-card .modal-footer,
.bit-man-card-student-list-view-borders .modal-footer {
  padding: 1vw 0;
}




/* ----- STUDENTI DETAILS MODAL ----- */

.student-details-container select,
.student-details-container input {
  font-size: 1vw;
}

.programi-sertifikati-title {
  width: 100%;
  text-align: start;
  font-weight: 600;
  padding-left: 1vw;
  font-size: 1.1vw;
  color: #8D1717;
}

.accordion {
  width: 100%;
}

.programi-sertifikati-accordion-container {
  width: 100%;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
}

.add-program {
  margin: 0.1vw auto 0.6vw auto;
  transition: transform 1s;
  position: relative;
  bottom: 1vw;
}

.add-program:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.add-vestina-buttons-container {
  width: 66%;
  margin-top: 1vw;
}

.student-detail-card-data-vestine {
  width: 59%;
  font-size: 1vw;
  /* font-weight: 400; */
  margin-bottom: 0.5vw;
  color: rgb(66, 66, 66);
}


.add-vestina-container {
  margin-top: 1vw;
  width: 66%;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.2vw 0.6vw;
}

.details-sertifikat {
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  font-size: 1vw;
  padding: 0.4vw 1vw;
  margin-right: 1vw;
}

.add-new-sertifikat {
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.2vw 0.6vw;
  width: 66%;
}

.student-status-header {
  font-size: 1vw;
  color: #8D1717;
  font-weight: 600;
  margin-top: 2vw;
  width: 7vw;
}

.change-status-dropdown {
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.2vw 0.6vw;
}

.vestina-single-item {
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.2vw 0.6vw;
  margin-left: 1vw;
  margin-top: 1.2vw;
}

.add-pohadjani-program {
  margin-top: 1vw;
}

.add-sertifikat-buttons-container {
  width: 66%;
  margin-top: 1vw;
  margin-bottom: 0.8vw;
}

.add-pohadjani-programi-buttons-container {
  margin-top: 1vw;
}

.add-pohadjani-program select {
  outline: none;
  font-size: 1vw;
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.2vw 0.6vw;
}


.accordion .btn-link {
  width: 100%;
  font-weight: 500;
  color: rgb(66, 66, 66);
}

.programi-sertifikati-accordion-container .card-header {
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
}

textarea {
  resize: none;
  width: 100%;
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.5vw;
  transition: transform 1s;
  outline: none;
}

textarea:focus {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0.4);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0.4);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0.4);
}

.ok-modal-button {
  width: 12vw;
  padding: 0.12vw 1vw;
  font-size: 1vw;
}

.edit-modal-button {
  width: 45%;
  padding: 0.12vw 1vw;
  font-size: 0.85vw;
}

.modal-title {
  font-size: 1vw;
  color: rgb(141, 23, 23);
}

.ime-prezime-modal-header {
  font-weight: 700;
  font-size: 1.2vw;
  color: rgb(141, 23, 23);
}

.ime-prezime-modal-header input {
  font-weight: 700;
  font-size: 1.1vw;
  color: rgb(66, 66, 66);
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  transition: transform 1s;
  outline: none;
}

.ime-prezime-modal-header input:focus {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
}

.podaci-container {
  width: 48%;
}

.podaci-container input {
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0.2vw;
  transition: transform 1s;
  outline: none;
}

.podaci-container input:focus {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
}

.pozicije-komunikacija-container {
  width: 48%;
}

.pozicije-container {
  width: 48%;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 1vw;
}

.single-pozicija-container {
  width: 96%;
  font-size: 1vw;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  margin: 0.5vw auto;
  padding: 0.8vw;
}

.pozicija-firma,
.komunikacija-datum {
  color: #8D1717;
  font-weight: 700;
}

.pozicija-status {
  margin-top: 0.2vw;
  margin-bottom: 0.4vw;
}

.komunikacija-komentar {
  margin-top: 0.5vw;
}

.add-new-icon {
  transition: transform 1s;
  margin-top: 1vw;
}

.add-new-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: drop-shadow(0 0 0.2vw #8D1717);
}

.add-new-pozicija-container {
  margin: 1vw 0;
}

.add-new-pozicija-container select {
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.8vw;
  padding: 0.2vw 0.6vw;
}

.komunikacija-container {
  width: 48%;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 1vw;
}

.single-komunikacija-container {
  width: 96%;
  font-size: 1vw;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  margin: 0.5vw auto;
  padding: 0.8vw;
}

.student-detail-card-attribute {
  width: 40%;
  margin-bottom: 0.5vw;
  font-weight: 600;
  font-size: 1vw;
}

.student-detail-card-data {
  width: 59%;
  font-size: 1vw;
  /* font-weight: 400; */
  margin-bottom: 0.5vw;
  color: rgb(66, 66, 66);
}

.student-detail-card-data a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shortend-version {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-card-setion-title {
  font-size: 1vw;
  font-weight: 700;
  color: rgb(66, 66, 66);
}

.podaci-wrapper {
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 1vw;
}

.student-details-motiv {}

.section-title-horizontal-line {
  width: 100%;
  height: 5px;
  margin-bottom: 1vw;
  -webkit-box-shadow: 0px 0.3vw 1vw 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0.3vw 1vw 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0.3vw 1vw 0px rgba(0, 0, 0, 0.6);
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  text-decoration: none;
}

.btn-link {
  transition: transform 1s;
}

.btn-link:hover {
  transform: scale(1.1);
}



/* ----- GLAVNI DUGMICI GORE ----- */

.application-buttons-container {
  width: 65%;
  float: right;
  margin-bottom: 2.4vw;
}

.application-buttons-container button {
  font-size: 1vw;
  border: 4px double #8D1717;
}

.add-new-student-icon {
  transition: transform 1s;
  padding: 0.2vw 0.8vw;
  box-sizing: content-box;
}

.add-new-student-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.application-buttons-wrapper-left {
  width: 60%;
}

.application-buttons-wrapper-right {
  width: 30%;
}

.application-buttons-wrapper-left button {
  /* background-color: rgb(86, 62, 224); */
}

.btn,
.form-check-label {
  font-size: 1vw;
}


/*----- FIRME VIEW -----*/

.firma-details-container {
  width: 65%;
  margin-left: 35%;
  margin-bottom: 2.4vw;
  font-size: 1vw;
}

.firma-details-opste-informacije {
  width: 45%;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.5vw 1.2vw;
  height: 9vw;
  position: relative;
}

.firma-details-opste-informacije a {
  text-decoration: none;
  color: rgb(66, 66, 66)
}

.firma-details-opste-informacije a:hover {
  transform: scale(1.1)
}

.firma-details-opste-informacije input {
  text-align: right;
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0.2vw;
  transition: transform 1s;
  outline: none;
}

.firma-details-opste-informacije input:focus {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
}

.firma-details-stanje {
  width: 45%;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.5vw 1.2vw;
}

.firma-details-stanje-title {
  color: #8D1717;
  font-weight: 800;
  margin: 0 auto;
}

.firma-detials-stanje-total {
  border-top: 4px #8D1717 double;
}

.ukupan-broj-studenata-wrapper {
  margin-bottom: 2.4vw;
}

.firma-details-attribute {
  font-size: 1vw;
  font-weight: 600;
}

.firma-details-naziv {
  color: #8D1717;
  font-weight: 800;
  font-size: 1.1vw;
}

.firma-details-opste-edit-button {
  position: absolute;
  right: -0.8vw;
  bottom: -0.8vw;
  transition: transform 1s;
}

.firma-details-opste-edit-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: drop-shadow(0 0 0.5vw #8D1717);
}

.firma-details-edit-buttons-container {
  width: 80%;
  position: absolute;
  bottom: -1.8vw;
  left: 2.4vw;
  transform: scale(0)
}

.enter-firma-edit {
  animation: enterFirmaEditMode 1s forwards;
}

.exit-firma-edit {
  animation: exitFirmaEditMode 1s forwards;
}

@keyframes enterFirmaEditMode {
  0% {
    filter: blur(1.5vw);
    transform: scale(0);
  }

  100% {
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes exitFirmaEditMode {
  0% {
    filter: blur(0);
    transform: scale(1);
  }

  100% {
    filter: blur(1.5vw);
    transform: scale(0);

  }
}

/* ----- ADD NEW FIRMA MODAL ----- */
.modal-body input {
  border: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0.2vw;
  transition: transform 1s;
  margin: 0.5vw auto;
  outline: none;
}

.modal-body input:focus {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.4);
}


/*----- ADD NEW CLASS -----*/

.new-class-input {
  width: 25% !important;
  font-size: 1vw;
}

.program-select {
  border: 4px double #8D1717;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
}

.program-select:hover {
  cursor: pointer;
}

.add-new-class-right-item {
  width: 65%;
}

.add-new-class-left-item {
  width: 35%;
  font-size: 1.2vw;
  font-weight: 600;
}

.add-new-class-datumzavrsetka-wrapper {
  margin-top: 2vw;
}

.add-new-class-naziv {
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: 100%;
  text-align: center;
  font-size: 1.6vw;
  font-weight: 700;
  color: #8D1717;
}

/*----- ADD NEW STUDENT -----*/


.add-new-student-datum-wrapper {
  width: 27vw;
  margin: 0.5vw auto;
  font-size: 1vw;
  font-weight: 500;
  color: rgb(66, 66, 66);
}

.add-new-student-select {
  font-size: 1vw;
  font-weight: 500;
  color: rgb(66, 66, 66);
  outline: none;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.add-new-student-options-container {
  width: 84%;
  margin: 0 auto 0.5vw;
}

.add-new-student-dropdown {
  width: 25%;
}

.add-new-student-dropdown input {
  font-size: 1vw;
}

.add-new-student-button {
  font-size: 1.2vw;
  padding: 0.2vw 3vw !important;
}



.open-edit {
  transition: transform 1s;
}

.open-edit:hover {
  cursor: pointer;
  transform: scale(1.2);
}


/*----- LOGGING IN PAGE -----*/


.login-page-container {
  background-image: url("./images/cogwheels-284526.jpg");
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.login-page-wrapper {}

.nevidljivi {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12vw;
  height: 12vw;
}

.login-input {
  width: 24vw;
  padding: 0.4vw 0.8vw;
  font-size: 1.6vw;
  color: #8D1717;
  font-weight: 600;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 1vw 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 1vw 2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 1vw 2px rgba(0, 0, 0, 1);
  /* animation: enterLogin 1s forwards; */
  border-radius: 1vw;
  transition: transform 1s;
}

.login-input:focus {
  transform: scale(1.1);
}


.logovanje-button {
  margin: 1.4vw auto;
  /* width: 66%; */
  padding: 0vw 4.4vw;
  font-size: 1.4vw;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #8D1717;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0.6vw #999;
  border: #8D1717 0.25vw double;
}

/* .logovanje-button:hover {background-color: rgba(47, 115, 223)} */

.logovanje-button:active {
  background-color: #ffffff;
  box-shadow: 0 0.3vw #666;
  transform: translateY(0.2vw);
}



/*--- PLACANJE ---*/

.student-placanje-container {
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 1vw;
}

.student-detail-card-data-placanje {
  font-size: 1.2vw;
}

.student-detail-card-data-placanje-total-wrapper {
  border-top: 4px double #8D1717;
  font-weight: 700;
  font-size: 1vw;
  color: #8D1717;
}

.student-detail-card-data-placanje-total-good {}

.student-detail-card-data-placanje-total-not-good {}

.add-new-payment {
  position: relative;
  left: 95%;
  margin-bottom: 1vw;
  z-index: 2;
}

.student-placanja-ukupno {
  border-bottom: #8D1717 2px solid;
  margin-bottom: 0.5vw;
}

.add-new-payment-container {
  padding: 4vw;
}

.new-payment-label {
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: 0.1vw;
  margin-top: 1vw;
}

.payment-datum {
  margin-left: 7vw;
}


.filter-names-container {
  margin-top: 2vw;
}

.filter-single-memo {
  margin-left: 1vw;
  margin-top: 0.5vw;
  -webkit-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0.8vw 2px rgba(0, 0, 0, 0.2);
  padding: 0.5vw 1vw;
}

.summa-summarum-good {
  color: green;
}

.fully-paid-container {
  position: relative;
  font-size: 1.5vw;
}

.fully-paid {
  width: 7vw;
  position: absolute;
  right: -4vw;
  bottom: -2vw;
}

.gandalf {
  width: 70vw;
  /* height: 100vh; */
  /* min-height: 100vh; */
  object-fit: cover;
  transition: transform 0.6s;
}

.melting-component-container .modal-content {
  background-color: rgba(0, 0, 0, 0);
}

.melting-component-container .modal-dialog {
  -webkit-box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0.2);
}

.melting-component-container {
  width: 100vw;
  height: 100vh;
}

.counter {
  color: #ffffff;
  font-size: 7vw;
  text-align: center;
}

.video-wrapper {}

.counting-title {
  position: absolute;
  /* width: 34vw; */
  margin: 0 auto;
  bottom: 34vh;
  font-size: 3vw;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  /* transform: scale(0); */
  animation: showBoomCounterNotification 4s forwards;
}

@keyframes showBoomCounterNotification {
  0% {
    transform: scale(0)
  }

  20% {
    transform: scale(1);
  }

  50% {
    filter: blur(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    filter: blur(1vw);
    opacity: 0;
  }
}


.hide-gandalf {
  transform: scale(0);
  -webkit-filter: blur(1vw);
  /* Safari 6.0 - 9.0 */
  filter: blur(1vw);
}

.boom-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  /* background-color: #8D1717; */
}

.single-bomb {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1vw;
  height: 1vh;
  /* overflow: hidden; */
}

.exploded {
  /* animation: explode 0.1s ease-in forwards; */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  /* background: radial-gradient(closest-side, #f69d3c, #ebf8e1, #bd1717); */
}

@keyframes explode {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}


.counting-title-2{
    position: absolute;
    /* width: 34vw; */
    margin: 0 auto;
    bottom: 29vh;
    font-size: 3vw;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    /* transform: scale(0); */
    animation: showBoomCounterNotification 4s forwards;
    animation-delay: 2s;
    transform: scale(0)
  }
  
  @keyframes showBoomCounterNotification {
    0% {
      transform: scale(0)
    }
  
    20% {
      transform: scale(1);
    }
  
    50% {
      filter: blur(0);
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      filter: blur(1vw);
      opacity: 0;
    }
  }